# Exercise 2: Create markdown cell with title of the notebook
# Data Science Tools and Ecosystem

# Exercise 3 - Create a markdown cell for an introduction
# In this notebook, Data Science Tools and Ecosystem are summarized.

# Exercise 10 - Insert a markdown cell to list Objectives
**Objectives:**

- Understand the key concepts and techniques in Data Science.
- Explore popular programming languages used for Data Science.
- Learn about data preprocessing and feature engineering.
- Gain hands-on experience with data visualization tools.
- Understand machine learning models and their applications.


# Exercise 4 - Create a markdown cell to list data science languages
# Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia


# Exercise 5 - Create a markdown cell to list data science libraries
# Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib

# Exercise 6 - Create a markdown cell with a table of Data Science tools
| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

# Exercise 7 - Create a markdown cell introducing arithmetic expression examples
### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# Exercise 8 - Create a code cell to multiply and add numbers
# This is a simple arithmetic expression to multiply then add integers.
result = (3 * 4) + 5
print(result)

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60.
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335